<!DOCTYPE html>

<html>
    <head>
        <title>Logowanie</title>
        <meta charset="UTF-8">
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
        <link rel="stylesheet" href="styles.css">
    <body>
        <div id="apka">

            <div v-if="!logIn">
              <h1>Logowanie</h1><br>
              Użytkownik<br>
              <input v-model="user"> {{userHint}}<br>
              Hasło<br>
              <input v-model="password" type="password"> {{passHint}}<br><br>
              <button @click="login" >Zaloguj</button>
            </div>

            <div v-if="!create && !logIn">
              <h1>Utwórz konto:</h1>
              <button @click="openRegistration">Rejestracja</button><br>
            </div>

            <div v-if=create>
              <add-user @created="create=false; logIn=false"></add-user>
            </div>

          <div id="content">
          </div>
        </div>

        <script type="module">

          import { createApp } from 'vue'
          import reg from './registration.js'

          const app = createApp({
            data() {
              return {
                user: "",
                password: "",
                userHint: "",
                passHint: "",
                create: false,
                logIn: false,
              }
            },
            methods: {
              login() {
              //TODO haslo md5

                let self = this;
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                  let resp = JSON.parse(this.responseText);
                  if (!resp.loginCheck) {
                    self.userHint = "Niepoprawny login";
                  }
                  else {
                    self.userHint = "";
                    if (!resp.passCheck) {
                      self.passHint = "Niepoprawne hasło";
                    }
                    else {
                      self.passHint = "";
                      self.logIn = true;
                      window.sessionStorage.setItem("token", resp.token);

                      console.log("A teraz dalszy ciąg programu...");

                      window.sessionStorage.clear();
                    }
                  }
                }
                xhttp.open("GET", "login.php?login=" + this.user + "&pass=" + this.password, true);
                xhttp.send();
              },
              openRegistration() {
                this.logIn = true;
                window.sessionStorage.setItem("registration", "true");
                this.create = true;
              }
            }

          })
          .component('add-user', reg)
          .mount('#apka');

        </script>

    </body>
</html>
