<!DOCTYPE html>

<html>
    <head>
        <title>Logowanie</title>
        <meta charset="UTF-8">
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
        <link rel="stylesheet" href="styles.css">
    <body>
        <div id="apka">

            <div v-if=!create>
              <h1>Logowanie</h1><br>
              Użytkownik<br>
              <input v-model="user"><br>
              Hasło<br>
              <input v-model="password" type="password"><br><br>
              <button @click="login" >Zaloguj</button>
              <br>
              <h2>Utwórz konto:</h2>
              <button @click="openRegistration">Rejestracja</button><br>
            </div>

            <div v-if=create>
              <add-user></add-user>
            </div>

          <div id="status">
          </div>
        </div>

        <script type="module">

          import { createApp } from 'vue'
          import reg from './registration.js'

          const app = createApp({
            data() {
              return {
                user: "",
                password: "",
                create: false,
              }
            },
            methods: {
              login() {
//TODO haslo md5
// dopisać obsługę niepoprawnego loginu lub hasła

                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                  document.getElementById("status").innerHTML = this.responseText;
                }
                xhttp.open("GET", "login.php?login=" + this.user + "&pass=" + this.password, true);
                xhttp.send();
              },
              openRegistration() {
                this.create = true;
              }
            }

          })
          .component('add-user', reg)
          .mount('#apka');

        </script>

    </body>
</html>
