body {
    background-color: lightblue;
}

/* .reg{
  width: 300px;
  border: 1px solid blue;
}
.reg form {
  font-size: 1.2em;
}
.reg input {
  font-size: 1em;
  width: 90%;
  padding: 8px;

}
.reg textarea {
  font-size: 1em;
  width: 90%;
  padding: 8px;
}
.reg button {
  font-size: 1.2em;
  width: 90%;
  padding: 8px;
}

.invalid {
  border-color: red;
} */
