body {
    background-color: lightblue;
}
.user {
  padding: 40px;
}

.input {
  padding: 10px 10px;
}

.admin {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  height: inherit;
}

.adminType {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #f44336;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.userType {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #008CBA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.eventList {
  padding: 20px;
}
.main {
  background-color: lightyellow;
  padding: 10px;
  padding-top: 50px;
}
.event {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  word-wrap: break-word;
}

.title {
  font-weight: bold;
}

#content {
  padding-top: 50px;
}

#apka {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 720px;
  margin: auto;
}

.menuUserItems {
  position: fixed;
  width: 720px;
  background-color: #008DBA;
  top: 0px;
}

.menuAdminItems {
  position: fixed;
  width: 720px;
  background-color: #f44336;
  top: 0px;
}

.menuAdminItems button {
  background-color: #f44336;
  color: white;
  padding: 15px 24px;
  text-align: center;
  border: 2px solid #f44336;
  transition-duration: 0.4s;
}

.menuAdminItems button:hover {
  background-color: white;
  color: black;
}

.menuUserItems button {
  background-color: #008CBA;;
  color: white;
  padding: 15px 24px;
  text-align: center;
  border: 2px solid #008CBD;
  transition-duration: 0.4s;
}

.menuUserItems button:hover {
  background-color: white;
  color: black;
}


.inputUserButton {
  border: none;
  background-color: #008CBA;
  color: white;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* font-size: 1em; */
}

.inputAdminButton {
  border: none;
  background-color: #f44336;
  color: white;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* font-size: 1em; */
}

.eventButton {
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 135px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
