body {
    background-color: lightblue;
}
.user {
  padding: 40px;
}

.admin {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  height: inherit;
}

.switchAccountType {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #008CBA;;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.eventList {
  padding: 20px;
}
.main {
  background-color: lightyellow;
  padding: 10px;
}
.event {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  word-wrap: break-word;
}

.title {
  font-weight: bold;
}

#content {
  padding-top: 50px;
  padding: 40px;
}

#apka {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 720px;
  margin: auto;
}

.menuItems {
  position: sticky;
  background-color: inherit;
  border-radius: 10px;
  top: 0px;
  margin-left: 1px;
}

.menuItems button {
  background-color: #008CBA;;
  color: white;
  padding: 15px 24px;
  text-align: center;
  border: 2px solid #008CBD;
  border-radius: 10px;
}
